//--- header configuration ---//


.header-container {
  width: 100%;
  padding: 10px 10px;
  height: 50px;
  background-color: #F5F5DC;
  font-family: $basic-font-stack;
  color: #C0C0C0;
}


.header {
  width: 500px;
  padding: 0 20px;
  margin: 5px auto;
  color: $basic-font-color;
  text-align: center;
  vertical-align: middle;
}


.header-border {
  width: 100%;
  height: 1px;
  color: #F5F5F5;
}
